{% extends 'base.html' %}
{% load static %}
{% block title %}Grapher{% endblock %}
{% block content %}
    <div id="cy"></div>
    <div id="panel">
        <h1 class="no-margin text-center p-t-25">Graph<span class="beauty">er</span></h1>
        <div class="wrapper" id="node_info" hidden>
            <div class="form-group w-90">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" onClick="this.select();">
                <input type="hidden" id="id">
            </div>

            <div class="form-group w-90">
                <label for="progress">Progress</label>
                <br>
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="0" class="slider" id="progress">
                </div>
            </div>

            <div class="form-group w-90">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" cols="30" rows="10" onClick="this.select();"></textarea>
            </div>
        </div>


        <div id="tips" class="wrapper tips">
            <p><b>Create node:</b> right click</p>
            <p><b>Select few:</b> Shift + click</p>
            <p><b>Delete:</b> Backspace</p>
            <p><b>Merge selected:</b> Enter</p>
            <p><b>Reverse edge:</b> right click on edge</p>
        </div>

        <div class="tips-button bottom">
            Show tips
            <input type="checkbox" id="toggle-btn" checked data-toggle="toggle" data-onstyle="default">
            <script>
                $(function () {
                    $('#toggle-btn').change(function () {
                        let show = $(this).prop('checked');
                        console.log(show);
                        if (show) {
                            $('#tips').show('fast');
                        }
                        else {
                            $('#tips').hide('fast');
                        }
                    })
                })
            </script>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script>
        let csrf_token = $('[name=csrfmiddlewaretoken]').val();
    </script>

    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}